body {
  font-family: "Montserrat", sans-serif;
}
.orange-color {
  color: orange;
}
.banner-title {
  color: #575757;
  font-size: 50px;
  margin-top: 20%;
}

.link-button {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right, #fba24f, #ff1e1e);
  padding: 15px 30px;
  border-radius: 50px;
}
.top-banner {
  display: flex;
}
.flexible-container {
  width: 50%;
  padding-left: 8%;
}
.flexible-container p {
  margin-bottom: 10%;
  padding-right: 50px;
  color: #828282;
}
.flexible-container img {
  width: 80%;
}
