body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.orange-color {
  color: orange;
}
.banner-title {
  color: #575757;
  font-size: 50px;
  margin-top: 20%;
}

.link-button {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right, #fba24f, #ff1e1e);
  padding: 15px 30px;
  border-radius: 50px;
}
.banner-area,
.about-me-area,
.receipie-item-area,
.social-media-stats-area {
  display: flex;
}
.flexible-container {
  width: 50%;
  padding-left: 8%;
}
.flexible-container p {
  margin-bottom: 10%;
  padding-right: 50px;
  color: #828282;
}
.flexible-container img {
  width: 80%;
}
.about-me-women img {
  width: 50%;
  padding-left: 20%;
  margin-top: 60px;
}
.about-me-area {
  background-image: url(images/About-me-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 70px;
}
.about-me-text h2 {
  margin-top: 120px;
  font-size: 40px;
  color: #707070;
}
.about-me-text p {
  color: #18191f;
  padding-right: 30%;
  line-height: 1.5em;
}
.my-recipies-text h2 {
  font-size: 40px;
  color: #707070;
  text-align: center;
}
.my-recipies-text p {
  text-align: center;
  margin-bottom: 50px;
}
.receipie-item-area {
  width: 90%;
  margin: 0 auto 60px;
}
.receipie-item {
  box-shadow: 2px 2px 30px #828282;
  border-radius: 40px;
  padding: 1%;
  margin: 0 20px;
  width: 30%;
}
.receipie-item img {
  width: 100%;
  border-radius: 30px;
}
.receipie-item p {
  line-height: 30px;
}
.receipie-item H2 {
  font-size: 30px;
}
.social-media-stats-area {
  width: 82%;
  margin: 0 auto;
  box-shadow: 2px 2px 30px #828282;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}
.social-media-items {
  margin: 0 auto;
}
.social-media-items h1 {
  font-size: 30px;
}
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 40px;
  margin-top: 50px;
}
footer h1 {
  color: #5b5b5b;
}
